# Logs
logs
*.log

# build/bundle files
static/build*
static/bundle*
*.map
bundleStats.json

# Runtime data
pids
*.pid
*.seed

node_modules
.DS_Store
.deploy.config.js
.deployrc.json

# backstop testing
backstop_data/*
!backstop_data/bitmaps_reference
!backstop_data/engine_scripts
