/*
 * Style login page
 * By Drew Baker - 2011
 * drew@funkhausdesign.com
 *
 */

/*
 * Import fonts
 */
    /* @import url("../fonts/fonts.css"); */


/*
 * Globals
 */
    html {
        background: white;
    }
    body.login {
        font-size: 14px;
        color: #222222;
        background: white;
        line-height: 1.4;
    	padding: 0;
    	margin: 0;
    	border: none;
    	width: 100%;
    }
    a {
    	outline: none;
    }


/*
 * Login Banner Image
 */
    #login h1 a {
    	background-image: url(../images/logo.svg);
        background-position: center center;
    	margin: 0;
    	background-size: auto;
    	width: auto;
    }


/*
 * Login Form
 */
    #loginform {
        box-shadow: none;
    }
    #loginform label {
        color: #222222;
    }
    #loginform input[type='text'],
    #loginform input[type='password'] {
    	background: #F2F2F2;
    	border: 1px solid #CCCCCC;
    	font-family: inherit;
        padding: 5px 8px;
        box-sizing: border-box;
    }
    #loginform input[type="checkbox"],
    #loginform input[type="radio"] {
        vertical-align: baseline;
    }


/*
 * Login Submit Button
 */
    #wp-submit {
    	background: #222222;
    	border: none;
    	text-shadow: none;
    	box-shadow: none;
        text-transform: uppercase;
    }
    #wp-submit:hover {
        color: #CCCCCC;
    }


/*
 * "Lost password" link
 */
    #nav {
    	text-shadow: none;
    }
    #nav a {
    	text-decoration: none;
    	color: inherit !important;
    	padding: auto 1px auto 1px;
    	text-shadow: none;
    }
    #nav a:hover {
    	color: #CCCCCC !important;
    	font-weight: normal;
    	text-shadow: none;
    }


/*
 * "Back to blog" link header
 */
    #backtoblog {
    	display: none;
    }
