/*
 * Style login page
 * By Drew Baker - 2011
 * drew@funkhausdesign.com
 *
 */

/*
 * Import fonts
 */
/* @import url("../fonts/fonts.css"); */

/*
 * Globals
 */
:root {
    --main-color: white;
    --accent-color: black;
    --text-color: black;
    --hover-text-color: #00a0d2;
}
html {
    background: var(--main-color);
}
body.login {
    font-size: 14px;
    background: var(--main-color);
    line-height: 1.4;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}
a {
    outline: none;
}

/*
 * Login Banner Image
 */
#login h1 a {
    background-image: url(../images/logo.svg);
    background-position: center center;
    margin: 0;
    background-size: auto;
    width: auto;
}

/*
 * Login Form
 */
#loginform {
    box-shadow: none;
    background: var(--main-color);
}
#loginform label {
    color: var(--text-color);
}
#loginform input[type='text'],
#loginform input[type='password'] {
    background: #f2f2f2;
    border: 1px solid #cccccc;
    font-family: inherit;
    padding: 5px 8px;
    box-sizing: border-box;
}
#loginform input[type='checkbox'],
#loginform input[type='radio'] {
    vertical-align: baseline;
}

/*
 * Login Submit Button
 */
#wp-submit {
    background: var(--accent-color);
    color: var(--main-color);
    border: none;
    text-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
    border: 2px solid var(--accent-color);
    height: initial;
    padding-top: 2px;
}
#wp-submit:hover,
#wp-submit:focus {
    background: var(--main-color);
    color: var(--accent-color);
    border: 2px solid var(--text-color);
}

/*
 * "Lost password" link
 */
#nav {
    text-shadow: none;
}
.login #nav a {
    text-decoration: none;
    padding: 0 1px;
    text-shadow: none;
    color: var(--text-color);
    text-decoration: underline;
}
.login #nav a:hover,
.login #nav a:focus {
    color: var(--hover-text-color) !important;
    font-weight: normal;
    text-shadow: none;
}

/*
 * "Back to blog" link header
 */
#backtoblog {
    display: none;
}

.login .message,
.login #login_error {
    background-color: var(--main-color);
    color: var(--text-color);
}
.login #login_error a {
    color: var(--text-color);
}
.login #login_error a:hover,
.login #login_error a:focus {
    color: var(--hover-text-color);
}
