// Sass constants
$white: #ffffff;
$black: #000000;
$font-family: 'Helvetica';
$desktop-padding: 50px;
$mobile-padding: 20px;
$header-height: 80px;

// Breakpoints
$gt-cinema: 'only screen and (min-width: 1800px)';
$lt-desktop: 'only screen and (max-width: 1100px)';
$lt-phone: 'only screen and (max-width: 750px)';
$lt-phone-landscape: 'only screen and (max-width: 750px) and (orientation: landscape)';

// mixins
@mixin fill($position: absolute) {
    position: $position;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
@mixin cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin contain {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
